.profile {
    width: 200px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 25px;
    

    background-color: #f1e68f;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.profile__avatar {
    width: 200px;
    height: 200px;
    width: 100%;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.profile__description {
    height: 300px;
    padding: 20px 20px;
    margin-left: auto;
    margin-right: auto;
}

.profile__name {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.33;
    color: blue;
    margin-bottom: 5px;

}

.profile__tag {
    font-size: 12px;
    line-height: 1.33;
    color: red;
    margin-bottom: 5px;
}

.profile__location {
    font-size: 12px;
    line-height: 1.33;
    color: blue;
}

.profile__stats {
    display: flex;
}

.profile__statsItem {
    width: 66.66px;
    color: white;
    background-color: black;
}

.profile__statsItem:not(:last-child) {
    border-right: solid 1px black;
}

.profile__label {
    font-size: 12px;
    line-height: 1.33;
    color: white;
    display: block;
}

