.status {
    display: block;
    border-radius: 50%;
    background-color: red;
    width: 18px;
    height: 18px;
    margin-right: 20px;
}

.status.isOnline {
    display: block;
    background-color: green;
}